/*variables*/
:root{
    --text-color:#212121;
    --active-color: #FFFFFF ;
    --section-color: #2F303A;
    --document-backgrounf-color: #E5E5E5;
    --section-text-color: #FFFFFF;
    --header-background: #FFFFFF;
    --web-color: #2196F3;
    --tel-color: rgba(255, 255, 255, 0.6);
    --footer-background: #2F303A;
    --footer-color: #FFFFFF;
    --main-font: 'Roboto';
    --accent-font: 'Raleway'
}  

/*body styles*/
.body {
    font-family: var(--main-font);
    color:#212121;
    font-size: 14px;
    line-height: 1.9;
    font-style: normal;
   
  }
/*header styles*/
.header {
background: var(--header-background);
color: var(--text-color);
}
/*navList styles*/
.navList {
  line-height: 1.17;
  font-weight: 500;
}
.navList a:hover,
.navList a:focus,
.navList a:active
{
  color: var(--web-color);
  font-weight: 500;
  font-style: normal;
}
/*footer styles*/
.footer a:hover,
.footer a:focus,
.footer a:active
{
  color: var(--web-color);
  font-weight: normal;
  
}
.footer
{
  background-color: var(--footer-background);
  color:var(--footer-color);
  line-height: 1.71;
  
}
.container{
  line-height: 2;
  font-weight: 700;
}
.mainContainer{
  line-height: 1.36;
  font-weight: 900;
}

/*button styles*/
.button {
  background: #F5F4FA;
  line-height: 1.63;
 }
.button button:hover,
.button button:focus,
.button button:active

.buttonPersonal
{
  background:var(--web-color); 
  color: #FFFFFF;
}
.address{
  font-style: normal;
  line-height: 1.71;
}


/*logo styles*/
 .logo {
   color: var(--web-color)
   
  
 }
 .logoText {
   color: var(--accent-font);
   font-style: normal;
   font-weight: bold;
   font-size: 26px;
   line-height: 31px;
 }



/*parent color*/
a {
  color: inherit;
  text-decoration: none;
}
/*универсальный селектор*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
ul {
    list-style: none;}
